@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Global untuk seluruh body */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1e1e2f;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox support */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #1e1e2f;
}